* {
    scrollbar-width: thin;
    scrollbar-color: #c22323 #070d12;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color: #c22323;
    border-radius: 30px;
    border: 5px solid #070d12;
}